/* Botones */
button:hover {
    transform: scale(1.02);
}

/* Tarjetas de predicciones */
.bg-gray-50:hover {
    background-color: #f3f4f6;
}

/* Efecto en imágenes */
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
